<ion-content [fullscreen]="true">

  <ion-row class="ion-justify-contet-center">
    <ion-col size="12" size-lg="6">


<!-- cabeçalho do curriculo -->
<ion-row>
  <ion-col size="12" size-lg="4">
    <img src="https://i.pinimg.com/564x/6c/e6/3f/6ce63f383d8efd1d15ded8d9e607e801.jpg">
  </ion-col>
  <ion-col size="12" size-lg="8"></ion-col>
  <ion-label>
    <h1>Armandindo watermellon</h1>
    <h2>analista junior</h2>
  </ion-label>
</ion-row>

<!-- divisória -->
<ion-row>

  <ion-col size="4">
    <ion-item-divider></ion-item-divider>
  </ion-col>
  <ion-col size="4"class="ion-text-center">
    <h1>contato</h1>
  </ion-col>
  <ion-col size="4">
    <ion-item-divider></ion-item-divider>
  </ion-col>
</ion-row>

<!-- informações de contato -->
<ion-row>
  <ion-col size="12">
<ion-card>
        <ion-item>
          <ion-label>
            Telefone: 15 997197030
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Email: Watermellonsugarhigh@gmail.com</ion-label>
        </ion-item>
      <ion-item>
        <ion-label>GitHUB: Github.com/waterzin</ion-label>
      </ion-item>
 </ion-card>
  </ion-col>
</ion-row>































    </ion-col>
  </ion-row>


</ion-content>